{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ if .Params.research_contact }}
<link rel="stylesheet" href="{{ "article-contact.css" | relURL }}">
{{ end }}
<article>
	<section class="mx-auto content">
		<div class="c-rich-text">
			{{- .Content -}}
			{{ with .Params.faqs }}
			{{ range . }}
			<h3>{{ .question }}</h3>
			<p>{{ .answer }}</p>
			{{ end }}
			{{ end }}
		</div>
	</section>
</article>

{{ with .Params.faqs }}
{{ $questions := slice }}
{{ range . }}
	{{ $questions = $questions | append (dict "@type" "Question" "name" .question "acceptedAnswer" (dict "@type" "Answer" "text" .answer)) }}
{{ end }}
{{ $schema := dict "@context" "https://schema.org" "@type" "FAQPage" "mainEntity" $questions }}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{ end }}
{{ end }}

{{ define "aside" }}
	{{ partial "page-aside.html" . }}
{{ end }}

{{ define "footer" }}
{{ partial "page-footer.html" . }}
{{ end }}
