<div>
	<div>
		<a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="heading font-cursive icon">{{ .Site.Title }}</a>
	</div>
</div>
<h1 class="pt-2">
	{{- .Title -}}
</h1>
{{ with .Description }}
<p class="text-java-700 font-normal leading-relaxed pt-2">{{ . }}</p>
{{ end }}
{{ if eq .Section "posts" }}
<p class="font-serif text-sm text-gray-700 pt-2">By <a href="{{ "/about/" | relURL }}" rel="author">Saurav Kumar Roy</a></p>
{{ end }}
<div class="flex flex-wrap justify-end pt-2">
	{{- partial "tags.html" . -}}
	<time class="text-eucalyptus-600 md:text-right md:flex-grow font-light pl-4"
		datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		{{- .Date.Format (.Site.Params.PostDateFormat | default "2006-1-2 15:04") -}}
	</time>
</div>
{{ partial "toc.html" . }}
<hr />
