<div class="pb-8">
	<div class="font-serif font-medium text-xl">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</div>
	{{ with .Description }}
	<div class="font-serif text-gray-700 font-light pt-1">{{ . }}</div>
	{{ end }}
	<div class="flex flex-wrap justify-between pt-1">
		{{- partial "tags.html" . -}}
		<time class="text-eucalyptus-600 md:text-right md:flex-grow font-light"
			datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
			{{- .Date.Format (.Site.Params.PostDateFormat | default "2006-1-2 15:04") -}}
		</time>
	</div>
</div>
